html {
    height: 100%;
}

body {
    width: 100%;
    background: rgb(36, 43, 204);
    background: linear-gradient(153deg, rgba(36, 43, 204, 1) 28%, rgba(0, 121, 255, 1) 100%);
    background-attachment: fixed;
}

#title {
    font-family: 'Work Sans';
    font-weight: 800;
    color: rgba(255, 255, 255, 0.623);
    text-shadow: 20px 20px 300px rgba(255, 255, 255, 0.623);
}

p {
    font-family: 'Work Sans';
    font-weight: 500;
}

footer {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.63);
}

footer p a:link {
    color: rgba(255, 255, 255, 0.63);
    text-decoration: none;
}

footer p a:visited {
    color: rgba(255, 255, 255, 0.63);
    text-decoration: none;
}

footer p a:hover {
    color: rgba(255, 255, 255, 0.87);
}

#box p a:link {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
    text-shadow: -2px -2px 20px rgba(255, 255, 255, 0.144);
}

#box p a:visited {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
    text-shadow: -2px -2px 20px rgba(255, 255, 255, 0.144);
}

#box p a:hover {
    color: rgba(255, 255, 255, 0.63);
}

p a:hover {
    color: rgba(255, 255, 255, 0.63);
}

#infobox p {
    color: rgba(255, 255, 255, 0.68);
    font-family: 'Work Sans';
    font-weight: 500;
}

#nav a:link,
a:visited {
    text-decoration: none;
    font-family: 'Work Sans';
    font-weight: 400;
    background-color: rgb(191, 195, 240);
    padding: 10px 20px;
    border-style: none;
    border-radius: 200px;
    border-color: rgba(0, 8, 255, 0.438);
    box-shadow: 0px 5px;
}

#box {
    border-style: none;
    border-radius: 40px;
    padding: 20px 20px 8px 20px;
    color: rgba(255, 255, 255, 0.63);
}

#info {
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    #info {
        margin-left: 5px;
    }
}

@media only screen and (min-width: 1200px) {
    footer {
        margin-left: -30px;
    }
}

@media only screen and (min-width: 1400px) {
    footer {
        margin-left: -63px;
    }
}

/* work-sans-regular - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/work-sans-v18-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/work-sans-v18-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* work-sans-500 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('./fonts/work-sans-v18-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/work-sans-v18-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* work-sans-800 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('./fonts/work-sans-v18-latin-800.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/work-sans-v18-latin-800.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}